.player-details {
    display: flex;
    flex-direction: r;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .player-info {
    flex: 1;
    display: flex;
    gap: 20px;
  }
  
  .player-portrait img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }
  
  .player-description {
    flex: 1;
  }
  
  .abilities {
    flex: 1;
  }
  
  .ability {
    margin-bottom: 20px;
  }
  
  .full-image {
    flex: 1;
  }
  
  @media (max-width: 768px) {
    .player-info {
      flex-direction: column;
    }
  }
  
  @media (max-width: 576px) {
    .player-portrait img {
      max-width: 100%;
    }
  }
  