.eachWeapon-up{
    text-align: center;
}
.eachWeapon-up>img{
    width: 600px;
    height: 230px;
}

.eachWeapon-up>h1{
    font-size: 4.0rem;
}

.skin-container{
    text-align: center;
}

.skin-container>img{
    height: 450px;
    width: 150px;
}