.HomeComponent {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    color: white;
}

.column {
    flex: 1;
    padding: 20px;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.column:nth-child(1) {
    background-image: url('../Images/Jett.jpg');
}

.column:nth-child(2) {
    background-image: url('../Images/Phoenix.jpg');
}

.column:nth-child(3) {
    background-image: url('../Images/Skye.jpg');
}

.content {
    padding: 20px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: transparent; /* Bootstrap's primary color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
    border: 0.2px solid rgb(132, 124, 124);
}

button:hover {
    border: 1px solid rgb(132, 124, 124);
    background-color: rgb(51, 51, 51);
}
