
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');



.home-container {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('../Images/ValorantWallpaper.jpg');
    background-size: cover;
    background-position: center;
  }
  .login{
    margin-left: auto;
    height: 30%;
  }
  .content {
    text-align: center;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    border-radius: 10px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .big-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: transparent; /* Bootstrap's primary color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
    border: 0.2px solid rgb(132, 124, 124);
  }
  
  .big-button:hover {
    border: 2px solid rgb(132, 124, 124);
    background-color: transparent;
  }